$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xk: 1440px;

$primary-font: "Poppins", sans-serif;
$title-font: "Merriweather", serif;
$font-size: 12px;
$font-title: 63px;
$font-subtitle: 17px; 

$black: #2B2D38;
$pink: #DB2A6B;
$white: #FFFFFF;
$gray:#FFFFFF40;
$orange: #FF7E29;
$purple: #6E1FED;
$turquese: #60D3D9;
$yellow: #F4B840;